<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Comment</title>
</head>
<body>
    <h1>Comment ID: <%= comment.id %> </h1>
    <h2><%= comment.comment %> - <%= comment.username%></h2>
    <a href="/comments">Back to index</a>
    <a href="/comments/<%=comment.id%>/edit">Edit Comment</a>
    <form action="/comments/<%=comment.id%>?_method=DELETE" method="POST">
        <button>Delete Comment</button>
    </form>
</body>
</html>