<% layout("layouts/boilerplate") %>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form
                action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST" class="validation" novalidate
                enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input
                        class="form-control" type="text" name="campground[title]" id="title" value=" <%= camp.title %>"
                        required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input
                        class="form-control" type="text" name="campground[location]"
                        id="location" value="<%= camp.location %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required>
                    <%= camp.description %>
                </textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="price">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input
                            type="text" class="form-control" aria-describedby="basic-addon1" id="price"
                            placeholder="0.00" name="campground[price]" value="<%= camp.price %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <% camp.images.forEach((img, i) => { %>
                    <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
                    <div class="form-chek-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                        <label for="image-<%= i %>">Delete?</label>
                    </div>
                <% }) %>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Add More Images</label>
                <input class="form-control" type="file" name="image" id="formFile" multiple>
            </div>
            <button class=" btn btn-success mb-3">Update Campground</button>
        </form>
    </div>
    <div><a href="/campgrounds/<%= camp.id %>">Back to Campground</a></div>
</div>
